@model IEnumerable<Biblioteca.Models.Assunto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Assuntos" asp-action="Index" method="get">
    <p>
        Titulo: <input type="text" name="SearchString" />
        <input type="submit" value="Pesquisar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssuntoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssuntoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssuntoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
